<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} | %-p | %c#%M:%L] %m%n"/>
        </Console>
        <Routing name="InfoRouting">
            <Routes pattern="$${sys:logfiles.path}">
                <Route>
                    <File name="InfoFile" fileName="${sys:logfiles.path}/logs/info.log">
                        <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} | %-p | %c#%M:%L] %m%n"/>
                        <filters>
                            <ThresholdFilter level="info"/>
                            <ThresholdFilter level="warn" onMatch="deny" onMismatch="neutral"/>
                        </filters>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Routing name="WarningRouting">
            <Routes pattern="$${sys:logfiles.path}">
                <Route>
                    <File name="WarningFile" fileName="${sys:logfiles.path}/logs/warning.log">
                        <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} | %-p | %c#%M:%L] %m%n"/>
                        <filters>
                            <ThresholdFilter level="warn"/>
                            <ThresholdFilter level="error" onMatch="deny" onMismatch="neutral"/>
                        </filters>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Routing name="ErrorRouting">
            <Routes pattern="$${sys:logfiles.path}">
                <Route>
                    <File name="ErrorFile" fileName="${sys:logfiles.path}/logs/error.log">
                        <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} | %-p | %c#%M:%L] %m%n"/>
                        <filters>
                            <ThresholdFilter level="error"/>
                            <ThresholdFilter level="fatal" onMatch="deny" onMismatch="neutral"/>
                        </filters>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Routing name="FatalRouting">
            <Routes pattern="$${sys:logfiles.path}">
                <Route>
                    <File name="FatalFile" fileName="${sys:logfiles.path}/logs/fatal.log">
                        <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} | %-p | %c#%M:%L] %m%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="InfoRouting" level="info"/>
            <AppenderRef ref="WarningRouting" level="warn"/>
            <AppenderRef ref="ErrorRouting" level="error"/>
            <AppenderRef ref="FatalRouting" level="fatal"/>
        </Root>
    </Loggers>
</Configuration>