.table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-focus-color, -fx-focus-color;
}

.table-row-cell:played {
    -fx-font-weight: bold;
}

.column-align-right {
    -fx-alignment: center-right;
}
