.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
}

.table-row-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-focus-color, -fx-focus-color;
}

.table-row-cell{
	-fx-font-size: 11;
}

.table-view {
  -fx-table-cell-border-color: transparent;
}
