/*
    Created on : 12.04.2015, 00:22:38
    Author     : Philipp Bruckner
*/

.control-buttons-tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-background-insets: 0;
    -fx-width:0;
    -fx-padding: 0;
    -fx-shape: " ";
}